
<table style="border-collapse:collapse;" class=table_1424 border=1>
<thead>
<tr>
  <th id="tableHTML_header_1"> </th>
  <th id="tableHTML_header_2">labels</th>
</tr>
</thead>
<tbody>
<tr>
  <td id="tableHTML_rownames">1</td>
  <td id="tableHTML_column_1">Образовательная организация</td>
</tr>
<tr>
  <td id="tableHTML_rownames">2</td>
  <td id="tableHTML_column_1">КлАСС</td>
</tr>
<tr>
  <td id="tableHTML_rownames">3</td>
  <td id="tableHTML_column_1">Регион</td>
</tr>
<tr>
  <td id="tableHTML_rownames">4</td>
  <td id="tableHTML_column_1">Муниципальный район</td>
</tr>
<tr>
  <td id="tableHTML_rownames">5</td>
  <td id="tableHTML_column_1">Населенный пункт</td>
</tr>
<tr>
  <td id="tableHTML_rownames">6</td>
  <td id="tableHTML_column_1">ФИО</td>
</tr>
<tr>
  <td id="tableHTML_rownames">7</td>
  <td id="tableHTML_column_1">Username</td>
</tr>
<tr>
  <td id="tableHTML_rownames">8</td>
  <td id="tableHTML_column_1">Направление</td>
</tr>
<tr>
  <td id="tableHTML_rownames">9</td>
  <td id="tableHTML_column_1">ICTAvdeeva2</td>
</tr>
<tr>
  <td id="tableHTML_rownames">10</td>
  <td id="tableHTML_column_1">StageSurvey 1 Твой пол</td>
</tr>
<tr>
  <td id="tableHTML_rownames">11</td>
  <td id="tableHTML_column_1">StageSurvey 12 Как часто ты пользуешься компьютером в перечисленных местах? (В школе на уроках для развлечения)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">12</td>
  <td id="tableHTML_column_1">StageSurvey 12 Как часто ты пользуешься компьютером в перечисленных местах? (В школе на уроках для учебных целей)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">13</td>
  <td id="tableHTML_column_1">StageSurvey 12 Как часто ты пользуешься компьютером в перечисленных местах? (В школе НЕ на уроках)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">14</td>
  <td id="tableHTML_column_1">StageSurvey 12 Как часто ты пользуешься компьютером в перечисленных местах? (Дома для развлечения)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">15</td>
  <td id="tableHTML_column_1">StageSurvey 12 Как часто ты пользуешься компьютером в перечисленных местах? (Дома для учебных целей)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">16</td>
  <td id="tableHTML_column_1">StageSurvey 124 Твой возраст</td>
</tr>
<tr>
  <td id="tableHTML_rownames">17</td>
  <td id="tableHTML_column_1">StageSurvey 125 Участвовал(а) ли ты в каких-либо олимпиадах в этом учебном году?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">18</td>
  <td id="tableHTML_column_1">StageSurvey 13 Как давно ты пользуешься компьютером или планшетом? Если пользуешься и тем и другим укажи длительность пользования тем которым начал пользоваться раньше</td>
</tr>
<tr>
  <td id="tableHTML_rownames">19</td>
  <td id="tableHTML_column_1">StageSurvey 131 Как часто ты общаешься с учителями ВНЕ УРОКОВ? (Лично)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">20</td>
  <td id="tableHTML_column_1">StageSurvey 131 Как часто ты общаешься с учителями ВНЕ УРОКОВ? (С использованием интернета/локальной сети/электронного журнала)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">21</td>
  <td id="tableHTML_column_1">StageSurvey 135 Пользовался(лась) ли ты школьной библиотекой в этом учебном году?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">22</td>
  <td id="tableHTML_column_1">StageSurvey 136 Что именно ты делал(а) в библиотеке?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">23</td>
  <td id="tableHTML_column_1">StageSurvey 137 Пользовался(лась) ли ты библиотекой ВНЕ ШКОЛЫ в этом учебном году?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">24</td>
  <td id="tableHTML_column_1">StageSurvey 138 Пользовался(лась) ли ты электронным дневником в этом учебном году?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">25</td>
  <td id="tableHTML_column_1">StageSurvey 139 Как именно ты использовал(а) электронный дневник в этом учебном году?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">26</td>
  <td id="tableHTML_column_1">StageSurvey 14 Сколько времени в день ты в среднем проводишь за компьютером?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">27</td>
  <td id="tableHTML_column_1">StageSurvey 140 Пользуются ли твои родители электронным дневником?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">28</td>
  <td id="tableHTML_column_1">StageSurvey 140_1 Пользуются ли твои родители электронным дневником?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">29</td>
  <td id="tableHTML_column_1">StageSurvey 140_2 Пользуются ли твои родители электронным дневником?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">30</td>
  <td id="tableHTML_column_1">StageSurvey 140_3 Пользуются ли твои родители электронным дневником?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">31</td>
  <td id="tableHTML_column_1">StageSurvey 140_4 Пользуются ли твои родители электронным дневником?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">32</td>
  <td id="tableHTML_column_1">StageSurvey 15 Как часто ты используешь компьютер для перечисленных целей? (Дистанционное образование)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">33</td>
  <td id="tableHTML_column_1">StageSurvey 15 Как часто ты используешь компьютер для перечисленных целей? (Компьютерные игры)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">34</td>
  <td id="tableHTML_column_1">StageSurvey 15 Как часто ты используешь компьютер для перечисленных целей? (На уроках кроме информатики)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">35</td>
  <td id="tableHTML_column_1">StageSurvey 15 Как часто ты используешь компьютер для перечисленных целей? (Общение в социальных сетях (Вконтакте Одноклассники Facebook Twitter и других))</td>
</tr>
<tr>
  <td id="tableHTML_rownames">36</td>
  <td id="tableHTML_column_1">StageSurvey 15 Как часто ты используешь компьютер для перечисленных целей? (Общение в чатах Gtalk (джиток) Telegram(телеграм) Whatsapp (Вотцап) Skype (скайп) и др.)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">37</td>
  <td id="tableHTML_column_1">StageSurvey 15 Как часто ты используешь компьютер для перечисленных целей? (Общение на форумах в Интернете)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">38</td>
  <td id="tableHTML_column_1">StageSurvey 15 Как часто ты используешь компьютер для перечисленных целей? (Общение по электронной почте)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">39</td>
  <td id="tableHTML_column_1">StageSurvey 15 Как часто ты используешь компьютер для перечисленных целей? (Подготовка домашней работы)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">40</td>
  <td id="tableHTML_column_1">StageSurvey 15 Как часто ты используешь компьютер для перечисленных целей? (Подготовка к школьным проектам)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">41</td>
  <td id="tableHTML_column_1">StageSurvey 15 Как часто ты используешь компьютер для перечисленных целей? (Подготовка рефератов)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">42</td>
  <td id="tableHTML_column_1">StageSurvey 15 Как часто ты используешь компьютер для перечисленных целей? (Поиск информации в поисковых системах (Google Yandex))</td>
</tr>
<tr>
  <td id="tableHTML_rownames">43</td>
  <td id="tableHTML_column_1">StageSurvey 15 Как часто ты используешь компьютер для перечисленных целей? (Работа с репетитором)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">44</td>
  <td id="tableHTML_column_1">StageSurvey 15 Как часто ты используешь компьютер для перечисленных целей? (Работа с таблицами (в программах типа Excel))</td>
</tr>
<tr>
  <td id="tableHTML_rownames">45</td>
  <td id="tableHTML_column_1">StageSurvey 15 Как часто ты используешь компьютер для перечисленных целей? (Скачивание музыки фильмов из Интернета)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">46</td>
  <td id="tableHTML_column_1">StageSurvey 15 Как часто ты используешь компьютер для перечисленных целей? (Создание или редактирование текстов  (например в Microsoft Word))</td>
</tr>
<tr>
  <td id="tableHTML_rownames">47</td>
  <td id="tableHTML_column_1">StageSurvey 15 Как часто ты используешь компьютер для перечисленных целей? (Создания графиков и диаграмм в специализированных программах)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">48</td>
  <td id="tableHTML_column_1">StageSurvey 15 Как часто ты используешь компьютер для перечисленных целей? (Сохранение фотографий на компьютере)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">49</td>
  <td id="tableHTML_column_1">StageSurvey 24 Не считая информатики как часто ТВОИ УЧИТЕЛЯ используют компьютер прямо на уроках (в среднем)?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">50</td>
  <td id="tableHTML_column_1">StageSurvey 3 Номер и полное название твоей школы</td>
</tr>
<tr>
  <td id="tableHTML_rownames">51</td>
  <td id="tableHTML_column_1">StageSurvey 31 Каким образом твои учителя чаще всего используют компьютер на уроке (не считая информатики)?  Отметь не более трех вариантов</td>
</tr>
<tr>
  <td id="tableHTML_rownames">52</td>
  <td id="tableHTML_column_1">StageSurvey 31_1 Каким образом твои учителя чаще всего используют компьютер на уроке (не считая информатики)?  Отметь не более трех вариантов</td>
</tr>
<tr>
  <td id="tableHTML_rownames">53</td>
  <td id="tableHTML_column_1">StageSurvey 31_2 Каким образом твои учителя чаще всего используют компьютер на уроке (не считая информатики)?  Отметь не более трех вариантов</td>
</tr>
<tr>
  <td id="tableHTML_rownames">54</td>
  <td id="tableHTML_column_1">StageSurvey 31_3 Каким образом твои учителя чаще всего используют компьютер на уроке (не считая информатики)?  Отметь не более трех вариантов</td>
</tr>
<tr>
  <td id="tableHTML_rownames">55</td>
  <td id="tableHTML_column_1">StageSurvey 31_4 Каким образом твои учителя чаще всего используют компьютер на уроке (не считая информатики)?  Отметь не более трех вариантов</td>
</tr>
<tr>
  <td id="tableHTML_rownames">56</td>
  <td id="tableHTML_column_1">StageSurvey 31_5 Каким образом твои учителя чаще всего используют компьютер на уроке (не считая информатики)?  Отметь не более трех вариантов</td>
</tr>
<tr>
  <td id="tableHTML_rownames">57</td>
  <td id="tableHTML_column_1">StageSurvey 31_6 Каким образом твои учителя чаще всего используют компьютер на уроке (не считая информатики)?  Отметь не более трех вариантов</td>
</tr>
<tr>
  <td id="tableHTML_rownames">58</td>
  <td id="tableHTML_column_1">StageSurvey 31_7 Каким образом твои учителя чаще всего используют компьютер на уроке (не считая информатики)?  Отметь не более трех вариантов</td>
</tr>
<tr>
  <td id="tableHTML_rownames">59</td>
  <td id="tableHTML_column_1">StageSurvey 31_8 Каким образом твои учителя чаще всего используют компьютер на уроке (не считая информатики)?  Отметь не более трех вариантов</td>
</tr>
<tr>
  <td id="tableHTML_rownames">60</td>
  <td id="tableHTML_column_1">StageSurvey 32 Задают ли ваши учителя ДОМАШНИЕ задания требующие (Использования компьютера)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">61</td>
  <td id="tableHTML_column_1">StageSurvey 32 Задают ли ваши учителя ДОМАШНИЕ задания требующие (Написания рефератов и других письменных заданий на компьютере)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">62</td>
  <td id="tableHTML_column_1">StageSurvey 32 Задают ли ваши учителя ДОМАШНИЕ задания требующие (Обсуждения задания с одноклассниками по сети)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">63</td>
  <td id="tableHTML_column_1">StageSurvey 32 Задают ли ваши учителя ДОМАШНИЕ задания требующие (Самостоятельного поиска информации (книги статьи сайты))</td>
</tr>
<tr>
  <td id="tableHTML_rownames">64</td>
  <td id="tableHTML_column_1">StageSurvey 32 Задают ли ваши учителя ДОМАШНИЕ задания требующие (Совместного поиска решения с твоими одноклассниками)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">65</td>
  <td id="tableHTML_column_1">StageSurvey 32 Задают ли ваши учителя ДОМАШНИЕ задания требующие (Создания и редактирования изображений)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">66</td>
  <td id="tableHTML_column_1">StageSurvey 32 Задают ли ваши учителя ДОМАШНИЕ задания требующие (Создания презентаций подготовки докладов)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">67</td>
  <td id="tableHTML_column_1">StageSurvey 38 Какое образование у твоих родителей (или людей их заменяющих)? (Мать)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">68</td>
  <td id="tableHTML_column_1">StageSurvey 38 Какое образование у твоих родителей (или людей их заменяющих)? (Отец)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">69</td>
  <td id="tableHTML_column_1">StageSurvey 4 Твой класс</td>
</tr>
<tr>
  <td id="tableHTML_rownames">70</td>
  <td id="tableHTML_column_1">StageSurvey 41 Сколько времени в среднем в день твои родители (или заменяющие их люди) и другие родственники проводят в общении с тобой? (Другие родственники)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">71</td>
  <td id="tableHTML_column_1">StageSurvey 41 Сколько времени в среднем в день твои родители (или заменяющие их люди) и другие родственники проводят в общении с тобой? (Мать)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">72</td>
  <td id="tableHTML_column_1">StageSurvey 41 Сколько времени в среднем в день твои родители (или заменяющие их люди) и другие родственники проводят в общении с тобой? (Отец)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">73</td>
  <td id="tableHTML_column_1">StageSurvey 42 Сколько книг у тебя дома?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">74</td>
  <td id="tableHTML_column_1">StageSurvey 44 Что ты собираешься делать после окончания 9-го класса?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">75</td>
  <td id="tableHTML_column_1">StageSurvey 45 Собираешься ли ты поступать в вуз сразу после окончания школы/училища?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">76</td>
  <td id="tableHTML_column_1">StageSurvey 46 Занимаешься ли ты на каких-нибудь курсах в кружках секциях школах помимо уроков в основной школе?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">77</td>
  <td id="tableHTML_column_1">StageSurvey 46_1 Занимаешься ли ты на каких-нибудь курсах в кружках секциях школах помимо уроков в основной школе?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">78</td>
  <td id="tableHTML_column_1">StageSurvey 46_10 Занимаешься ли ты на каких-нибудь курсах в кружках секциях школах помимо уроков в основной школе?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">79</td>
  <td id="tableHTML_column_1">StageSurvey 46_2 Занимаешься ли ты на каких-нибудь курсах в кружках секциях школах помимо уроков в основной школе?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">80</td>
  <td id="tableHTML_column_1">StageSurvey 46_3 Занимаешься ли ты на каких-нибудь курсах в кружках секциях школах помимо уроков в основной школе?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">81</td>
  <td id="tableHTML_column_1">StageSurvey 46_4 Занимаешься ли ты на каких-нибудь курсах в кружках секциях школах помимо уроков в основной школе?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">82</td>
  <td id="tableHTML_column_1">StageSurvey 46_5 Занимаешься ли ты на каких-нибудь курсах в кружках секциях школах помимо уроков в основной школе?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">83</td>
  <td id="tableHTML_column_1">StageSurvey 46_6 Занимаешься ли ты на каких-нибудь курсах в кружках секциях школах помимо уроков в основной школе?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">84</td>
  <td id="tableHTML_column_1">StageSurvey 46_7 Занимаешься ли ты на каких-нибудь курсах в кружках секциях школах помимо уроков в основной школе?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">85</td>
  <td id="tableHTML_column_1">StageSurvey 46_8 Занимаешься ли ты на каких-нибудь курсах в кружках секциях школах помимо уроков в основной школе?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">86</td>
  <td id="tableHTML_column_1">StageSurvey 46_9 Занимаешься ли ты на каких-нибудь курсах в кружках секциях школах помимо уроков в основной школе?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">87</td>
  <td id="tableHTML_column_1">StageSurvey 49 Какое из следующих описаний лучше всего характеризует твою школу?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">88</td>
  <td id="tableHTML_column_1">StageSurvey 5 Укажи свои оценки за прошлый год по каждому предмету (алгебра)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">89</td>
  <td id="tableHTML_column_1">StageSurvey 5 Укажи свои оценки за прошлый год по каждому предмету (биология)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">90</td>
  <td id="tableHTML_column_1">StageSurvey 5 Укажи свои оценки за прошлый год по каждому предмету (география)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">91</td>
  <td id="tableHTML_column_1">StageSurvey 5 Укажи свои оценки за прошлый год по каждому предмету (геометрия)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">92</td>
  <td id="tableHTML_column_1">StageSurvey 5 Укажи свои оценки за прошлый год по каждому предмету (иностранный язык)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">93</td>
  <td id="tableHTML_column_1">StageSurvey 5 Укажи свои оценки за прошлый год по каждому предмету (информатика)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">94</td>
  <td id="tableHTML_column_1">StageSurvey 5 Укажи свои оценки за прошлый год по каждому предмету (история)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">95</td>
  <td id="tableHTML_column_1">StageSurvey 5 Укажи свои оценки за прошлый год по каждому предмету (литература)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">96</td>
  <td id="tableHTML_column_1">StageSurvey 5 Укажи свои оценки за прошлый год по каждому предмету (обществознание)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">97</td>
  <td id="tableHTML_column_1">StageSurvey 5 Укажи свои оценки за прошлый год по каждому предмету (родной язык)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">98</td>
  <td id="tableHTML_column_1">StageSurvey 5 Укажи свои оценки за прошлый год по каждому предмету (русский язык)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">99</td>
  <td id="tableHTML_column_1">StageSurvey 5 Укажи свои оценки за прошлый год по каждому предмету (физика)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">100</td>
  <td id="tableHTML_column_1">StageSurvey 5 Укажи свои оценки за прошлый год по каждому предмету (химия)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">101</td>
  <td id="tableHTML_column_1">StageSurvey 50 На каком языке ты чаще всего говоришь у себя дома?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">102</td>
  <td id="tableHTML_column_1">StageSurvey 51 Напиши на каком языке ты говоришь дома</td>
</tr>
<tr>
  <td id="tableHTML_rownames">103</td>
  <td id="tableHTML_column_1">StageSurvey 53 Ограничен ли для тебя доступ к Интернету через компьютер?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">104</td>
  <td id="tableHTML_column_1">StageSurvey 53_1 Ограничен ли для тебя доступ к Интернету через компьютер?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">105</td>
  <td id="tableHTML_column_1">StageSurvey 53_2 Ограничен ли для тебя доступ к Интернету через компьютер?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">106</td>
  <td id="tableHTML_column_1">StageSurvey 53_3 Ограничен ли для тебя доступ к Интернету через компьютер?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">107</td>
  <td id="tableHTML_column_1">StageSurvey 53_4 Ограничен ли для тебя доступ к Интернету через компьютер?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">108</td>
  <td id="tableHTML_column_1">StageSurvey 53_5 Ограничен ли для тебя доступ к Интернету через компьютер?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">109</td>
  <td id="tableHTML_column_1">StageSurvey 55 Есть ли у тебя планшетный компьютер (iPad или другой) которым ты можешь свободно пользоваться?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">110</td>
  <td id="tableHTML_column_1">StageSurvey 57 Сколько времени в день ты в среднем проводишь пользуясь планшетом?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">111</td>
  <td id="tableHTML_column_1">StageSurvey 58 Как часто ты пользуешься планшетом в перечисленных местах?  (В школе на уроках для развлечения)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">112</td>
  <td id="tableHTML_column_1">StageSurvey 58 Как часто ты пользуешься планшетом в перечисленных местах?  (В школе на уроках для учебных целей)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">113</td>
  <td id="tableHTML_column_1">StageSurvey 58 Как часто ты пользуешься планшетом в перечисленных местах?  (В школе НЕ на уроках)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">114</td>
  <td id="tableHTML_column_1">StageSurvey 58 Как часто ты пользуешься планшетом в перечисленных местах?  (Дома для развлечения)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">115</td>
  <td id="tableHTML_column_1">StageSurvey 58 Как часто ты пользуешься планшетом в перечисленных местах?  (Дома для учебных целей)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">116</td>
  <td id="tableHTML_column_1">StageSurvey 59 Сколько времени в день ты в среднем пользуешься смартфоном (не учитывая телефонные звонки)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">117</td>
  <td id="tableHTML_column_1">StageSurvey 60 Как часто ты пользуешься смартфоном в перечисленных местах? (В школе на уроках для развлечения)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">118</td>
  <td id="tableHTML_column_1">StageSurvey 60 Как часто ты пользуешься смартфоном в перечисленных местах? (В школе на уроках для учебных целей)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">119</td>
  <td id="tableHTML_column_1">StageSurvey 60 Как часто ты пользуешься смартфоном в перечисленных местах? (В школе НЕ на уроках)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">120</td>
  <td id="tableHTML_column_1">StageSurvey 60 Как часто ты пользуешься смартфоном в перечисленных местах? (Дома для развлечения)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">121</td>
  <td id="tableHTML_column_1">StageSurvey 60 Как часто ты пользуешься смартфоном в перечисленных местах? (Дома для учебных целей)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">122</td>
  <td id="tableHTML_column_1">StageSurvey 61 Что ты ЧАЩЕ ВСЕГО делаешь находясь в социальных сетях?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">123</td>
  <td id="tableHTML_column_1">StageSurvey 61_1 Что ты ЧАЩЕ ВСЕГО делаешь находясь в социальных сетях?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">124</td>
  <td id="tableHTML_column_1">StageSurvey 61_2 Что ты ЧАЩЕ ВСЕГО делаешь находясь в социальных сетях?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">125</td>
  <td id="tableHTML_column_1">StageSurvey 61_3 Что ты ЧАЩЕ ВСЕГО делаешь находясь в социальных сетях?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">126</td>
  <td id="tableHTML_column_1">StageSurvey 61_4 Что ты ЧАЩЕ ВСЕГО делаешь находясь в социальных сетях?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">127</td>
  <td id="tableHTML_column_1">StageSurvey 61_5 Что ты ЧАЩЕ ВСЕГО делаешь находясь в социальных сетях?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">128</td>
  <td id="tableHTML_column_1">StageSurvey 61_6 Что ты ЧАЩЕ ВСЕГО делаешь находясь в социальных сетях?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">129</td>
  <td id="tableHTML_column_1">StageSurvey 61_7 Что ты ЧАЩЕ ВСЕГО делаешь находясь в социальных сетях?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">130</td>
  <td id="tableHTML_column_1">StageSurvey 64 В каких внеурочных мероприятиях организованных учителями ты принимал(а) участие в этом учебном году?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">131</td>
  <td id="tableHTML_column_1">StageSurvey 65 Как часто ты готовишь учебные проекты?</td>
</tr>
<tr>
  <td id="tableHTML_rownames">132</td>
  <td id="tableHTML_column_1">StageSurvey 66 Как часто на уроке происходит каждое из перечисленных действий?  (Твои одноклассники или ты выступаете с докладами и презентациями)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">133</td>
  <td id="tableHTML_column_1">StageSurvey 66 Как часто на уроке происходит каждое из перечисленных действий?  (Ты выполняешь лабораторные практические работы)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">134</td>
  <td id="tableHTML_column_1">StageSurvey 66 Как часто на уроке происходит каждое из перечисленных действий?  (Ты играешь в учебные игры (деловые ролевые игры тренинги и т.п.))</td>
</tr>
<tr>
  <td id="tableHTML_rownames">135</td>
  <td id="tableHTML_column_1">StageSurvey 66 Как часто на уроке происходит каждое из перечисленных действий?  (Ты работаешь в группе с одноклассниками)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">136</td>
  <td id="tableHTML_column_1">StageSurvey 66 Как часто на уроке происходит каждое из перечисленных действий?  (Ты самостоятельно решаешь задачи выполняешь упражнения)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">137</td>
  <td id="tableHTML_column_1">StageSurvey 66 Как часто на уроке происходит каждое из перечисленных действий?  (Ты участвуешь в общих дискуссиях обсуждениях)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">138</td>
  <td id="tableHTML_column_1">StageSurvey 66 Как часто на уроке происходит каждое из перечисленных действий?  (Учитель задает вопросы учащиеся отвечают)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">139</td>
  <td id="tableHTML_column_1">StageSurvey 66 Как часто на уроке происходит каждое из перечисленных действий?  (Учитель помогает или что-то объясняет лично тебе)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">140</td>
  <td id="tableHTML_column_1">StageSurvey 66 Как часто на уроке происходит каждое из перечисленных действий?  (Учитель рассказывает материал из учебника)</td>
</tr>
<tr>
  <td id="tableHTML_rownames">141</td>
  <td id="tableHTML_column_1">StageSurvey 9 Есть ли у тебя дома компьютер которым ты можешь свободно пользоваться?</td>
</tr>
</tbody>
</table>